/*Ruta del Aprendizaje*/
/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Oswald'); */
/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* --------- Container -------- */
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    background: #fff6d9;
	/* background-image: url('images/card1.jpg'); */
    padding: 0;
    border-radius: 20px; /* Redondea todos los bordes */
}

/* --------- Card Animation ---------- */
.card:not(:empty):hover,
.card:not(:empty):focus {
    z-index: 1;
    color: #fff;
    background: #ea124f;
    opacity: 1;
    transform: scale(1.15) rotateZ(20deg);
    cursor: pointer;
}

.card {
    padding: 20px;
    background: #fff;
    border-radius: .7em;
    opacity: 0.9;
    display: flex;
    flex-direction: column; /* Asegura que el contenido se apile de arriba a abajo */
    justify-content: space-between; /* Asegura que haya espacio entre el h2 y p */
    transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: background, transform, color, opacity;
    color: #fff; /* Color del texto blanco para que resalte sobre el fondo */
}

/* --------- Grid ---------- */
.grid {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el título esté arriba y el párrafo abajo */
}

.item1 {
    grid-area: 1 / 1 / 3 / 3;
    background-image: url('ruta/a/imagen1.jpg');
}

.item2 {
    grid-area: 3 / 3 / 4 / 4;
    background-image: url('/images/Tema5_Verbos/CardVerbos.jpg');
}
/*Desafio del Aprendizaje*/
.item3 {
    grid-area: 4 / 1 / 5 / 4;
    background-image: url('/images/CardDesafio.jpg');
}
/*Abecedario*/
.item4 {
    grid-area: 1 / 3 / 2 / 5;
    background-image: url('/images/Tema1_Alfabeto/CardAbc.jpg');
}

.item5 {
    grid-area: 2 / 4 / 3 / 5;
    background-image: url('/images/Tema3_Colores/CardPaint.jpg');
}

.item6 {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url('/images/card1.jpg');
}
/*Alimentos y Bebidas*/
.item7 {
    grid-area: 3 / 4 / 5 / 5;
    background-image: url('/images/Tema6_Alimentos/CardAlimentos2.jpg');
}
/*Los Numeros*/
.item8 {
    grid-area: 1 / 5 / 2 / 6;
    background-image: url('/images/Tema2_Numeros/CardNum.jpg');
}
/*La Familia*/
.item9 {
    grid-area: 2 / 5 / 3 / 6;
    background-image: url('/images/Tema4_Familia/CardFamily.jpg');
}
/*Semana*/
.item10 {
    grid-area: 3 / 5 / 4 / 6;
    background-image: url('/images/Tema7_Dias/CardDays.jpg');
}
/*Trabajos*/
.item11 {
    grid-area: 4 / 5 / 5 / 6;
    background-image: url('/images/Tema8_Trabajos/CardJob2.jpg'); /* Imagen de fondo para card 11 */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------- Layout -------- */
*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.2;
    font-family: "Jost", sans-serif;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
    color: black;
    font-family: 'Archivo Black';
}

h2 {
    font-size: 1em;
    margin: 0; /* Eliminar margen para asegurar que el título quede pegado a la parte superior */
    font-family: 'League Spartan';
    
}

p {
    line-height: 1.3;
    color: black;
    margin: 0; /* Eliminar margen para que el párrafo se pegue al fondo */
}
a {
    text-decoration: none;
}
/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, minmax(auto, 300px));
        overflow-y: scroll;
    }

    .item1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .card {
        grid-area: auto;
        text-align: left;
    }

    .item5 {
        background-size: cover;
        background-position: center;
    }
}
